/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 420px) {
    .top-header .thana, .top-header .union,.top-header .search {
        padding: 2px 5px;
    }
    .top-header .mujib img{
        display:block;
        width:100px;
        position: absolute;
        top:24%;
        background-color: #ffffff;
    }
    .header .navigation img {
        display: none;
    }
    /* search form */
    .header .navigation .srs-form {
        margin-left: 5px;
    }
    .header .navigation .srs-form .srs-field{
        width: 100%
    }
    /* union word list */
    .header .information-row {
        margin-top: 5px;
    }
    .header .information-row .infographic-menu .infogra-num {
        font-size: 22px;
    }
    .header .information-row .infographic-menu .infogra-num sup {
        font-size: 14px;
    }
    /* body content */
    .body-content .typewriter a span {
        font-size:16px;
    }
    .body-content .popular-plan {
        padding: 0px 20px;
    }
    .body-content .popular-portal ul li {
        float: none;
        text-align:center;
    }
    /* slider */
    .body-content .carousel-item img {
        height: 150px;
    }
    .body-content .carousel {
        margin:20px 0px;
    }
    /* news */
    .body-content .news .row{
        padding-bottom: 0px;
    }
    .body-content .news .service-box{
        margin-bottom: 20px;
    }
    /* right-sidebar */
    .right-sidebar {
        padding-left: 0px;
        padding-top: 20px;
    }
    .right-sidebar .right-column h5 {
        font-size: 18px;
    }
    footer .footer-menu .right-text p{
        text-align:left;
    }
    footer .footer-menu ul li a{
        border-right: 0;
    }
    footer .footer-menu ul li{
        margin-bottom: 5px;
    }
    footer {
        font-size: 16px;
    }
    /* about page */
    .about{
        padding-left: 5px;
    }
    .about h1{
        font-size: 24px;
    }
    /* popular plan */
    .popular-plan{
        display: none;
    }
    .popular-plan.mobile-popular-plan{
        display:block;
    }
    .popular-plan .patasomuho,.popular-plan .portalsomuho{
        padding-top: 30px;
    }
    .popular-plan a {
        font-size: 16px;
    }
}
@media (width: 320px) {
    .top-header .mujib img{
        display:block;
        width:90px;
        position: absolute;
        top:24%;
        background-color: #ffffff;
    }
}
/* Extra small devices (phones, 600px and down) */
@media (min-width: 421px) and (max-width: 640px) {
    .header .navigation{
        display:block;
    }
    .top-header .mujib img {
        display: block;
        width: 140px;
        position: absolute;
        top: 15%;
        background-color: #ffffff;
    }
    /* union word list */
    .header .information-row {
        margin-top: 5px;
    }
    .header .information-row .infographic-menu .infogra-num {
        font-size: 22px;
    }
    .header .information-row .infographic-menu .infogra-num sup {
        font-size: 14px;
    }
    /* mujib100 */
    .header .navigation img {
        display: none;
    }
    /* search form */
    .header .navigation .srs-form {
        margin-left: 5px;
    }
    .header .navigation .srs-form .srs-field{
        width: 100%
    }
    /* body content */
    .body-content .typewriter a span {
        font-size:16px;
    }
    .body-content .popular-plan {
        padding: 0px 20px;
    }
    .body-content .popular-portal ul li {
        float: none;
        text-align:center;
    }
    /* slider */

    .body-content .carousel-item img {
        height: 300px;
    }
    .body-content .carousel {
        margin:20px 0px;
    }
    /* news */
    .body-content .news .row{
        padding-bottom: 0px;
    }
    .body-content .news .service-box{
        margin-bottom: 20px;
    }
    /* right-sidebar */
    .right-sidebar {
        padding-left: 0px;
        padding-top: 20px;
    }
    .right-sidebar .right-column h5 {
        font-size: 18px;
    }
    footer .footer-menu .right-text p{
        text-align:left;
    }
    footer .footer-menu ul li a{
        border-right: 0;
    }
    footer .footer-menu ul li{
        margin-bottom: 5px;
    }
    footer {
        font-size: 16px;
    }
    /* about page */
    .about{
        padding-left: 5px;
    }
    .about h1{
        font-size: 26px;
    }
    /* popular plan */
    .popular-plan{
        display: none;
    }
    .popular-plan.mobile-popular-plan{
        display:block;
    }
    .popular-plan .patasomuho,.popular-plan .portalsomuho{
        padding-top: 30px;
    }
    .popular-plan a {
        font-size: 16px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 979px) {
    .top-header .mujib img {
        display: block;
        width: 150px;
        position: absolute;
        top: 15%;
        background-color: #ffffff;
    }
    .header .navigation img {
        display:none;
    }
    .header .navigation .srs-form .srs-field {
        width: 100%;
    }
    .thana .chzn-select, .union .chzn-select {
        font-size: 16px;
    }
    .top-header .heading a,.top-header .search .search-btn,.header .navigation .srs-form .srs-icon,.header .navigation .srs-form .srs-field {
        font-size: 16px;
    }
    footer .footer-menu .right-text p {
        text-align: left;
    }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .navbar-brand{
        display: none;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}

@media (max-width: 1200px) {

    .top-header .date p{
        display:none;
    }
    .header .information-row .infographic-menu.infographic-menu-first:before{
        display: none;
    }
}