<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        
        img{
            width: 100%;
        }
        .mujib{
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 30%;
        }
        @media (max-width: 600px){
            body{
                width: 100%;
                position: absolute;
                top: 20%;
                left: 0%;
                transform: translate(0%,20%);
            }
        }
    </style>
</head>
<body>
    <img src="assets/images/Mujib-Borsho.png" alt="Mujib-Borsho" class="mujib">
    <img src="assets/images/logo.png" alt="logo" class="logo">
</body>
</html>